@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Merienda", cursive;
    font-weight: 400;
}

a{
    text-decoration: none !important;
}

.h-font {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.h-line{
    width: 7rem;
    background-color: #000;
    height: 0.2rem;
    margin: auto;
}

.v-line{
    width: 0.1rem;
    background-color: #000;
    height: 2rem;
}

.nav-item:hover{
    color: rgb(134, 132, 132);
}

.shop-col{
    position: relative;
    top: -30rem;
}

.final-sec{
    position: relative;
    top: -30rem;
}